In [1]:
# import logging 
import logging as log
log.basicConfig(filename='Assignment_23_log.log', level=log.INFO, format='%(asctime)s %(message)s')
log.info("Assignment_23_log---")

## Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is 
symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(num):
    try:
        num = str(num)  #for making int object iterable
        num = [i for i in num] #making a list of the int object
        rev_num = num[::-1] #reverce the  integer list
        if rev_num==num: #checking for symmetrical
            return True
        return False
    except Exception as e:
        log.info(str(e))

In [9]:
is_symmetrical(7227)

True

In [10]:
is_symmetrical(12567)

False

In [12]:
is_symmetrical(9939)

False

In [13]:
is_symmetrical(1112111)

True

In [14]:
is_symmetrical(44444444)

True

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [17]:
def multiply_nums(str_num):
    try:
        st = str_num.split(',')
        st = [int(i) for i in st]
        res = 1
        for i in st:
            res*=i
        return res
    except Exception as e:
        log.info(str(e))

In [18]:
multiply_nums("2, 3")

6

In [19]:
multiply_nums("1, 2, 3, 4")

24

In [20]:
multiply_nums("54, 75, 453, 0")

0

In [21]:
multiply_nums("10, -2")

-20

### Question 3
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [26]:
def square_digits(num):
    try:
        num = str(num) #converting it to sum for looping
        num = [i for i in num]
        res1 = [int(i)**2 for i in num] #doing the squar
        res2 = ''
        for i in res1:
            res2+=str(i) 
        return int(res2) #return as integer
    except Exception as e:
        log.info(str(e))

In [27]:
square_digits(9119)

811181

In [28]:
square_digits(2483)

416649

### Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [30]:
def setify(lst):
    set_ = set(lst) #converting to a set to remove all duplicate value
    return list(set_) #converting set in to list

In [31]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [32]:
setify([4, 4, 4, 4])

[4]

In [33]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [34]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

•	The mean of all digits is the sum of digits / how many digits there are 
(e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [37]:
def mean(num):
    try:
        num = str(num) #converting to string  for looping
        num = [int(i) for i in num] #creating a list of number
        mean = sum(num) / len(num) #calculating mean
        return int(mean) #return mean as integer
    except Exception as e:
        log.info(str(e))

In [38]:
mean(42)

3

In [39]:
mean(12345)

3

In [40]:
mean(666)

6