In [ ]:
# import logging 
import logging as log
log.basicConfig(filename='Assignment_21_log.log', level=log.INFO, format='%(asctime)s %(message)s')
log.info("Assignment_21_log---")

### Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function 

should then return the updated list.

Examples

next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [20]:
def next_in_line(lst, num):
    n_lst = lst.append(num)
    return n_lst

In [22]:
next_in_line([5, 6, 7, 8, 9], 1)

### Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.

Examples

get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [23]:
def get_budgets(lst):
    try:
        bud_sum = 0  #total budget
        for d in lst: #loping through list
            bud_sum+=d['budget'] #summing the budget from the dictionary
        return bud_sum     #eturning the total budget 
    except Exception as e:
        log.info(str(e))

In [24]:
get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ])

65700

In [26]:
get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ])

62600

### Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.

Examples

alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [41]:
def alphabet_soup(my_str):
    try:
        lst = [i for i in my_str]  #creating a list of char
        lst.sort() #sorting the list alphabetically
        s = ''
        for i in lst: 
            s+=i #joiing the char for making a string
        return s
    except Exception as e:
        log.info(str(e))

In [42]:
alphabet_soup("hello")

'ehllo'

In [43]:
alphabet_soup("edabit")

'abdeit'

In [44]:
alphabet_soup("hacker")

'acehkr'

### Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6\% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

For the example above:

compound_interest(10000, 10, 0.06, 12) ➞ 18193.97

Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually,

quarterly, weekly, or daily.

Examples

compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [70]:
# p =principal
# t = total time year
# r = interest rate
# n = number of times interest is compounded per time period t
# compound interest :- P (1 + r/n)^(nt)

def compound_interest(p, t, r, n):
    ''' # p =principal
# t = total time year
# r = interest rate
# n = number of times interest is compounded per time period t
# compound interest :- P (1 + r/n)^(nt)
    '''
    cm_int = p * ((1 + (r/n)) ** (n*t)) #putting the formula
    return f'The total ammount will be around:- {round(cm_int, ndigits=2)}'

In [71]:
compound_interest(10000, 10, 0.06, 12)

'The total ammount will be around:- 18193.97'

In [72]:
compound_interest(100, 1, 0.05, 1)

'The total ammount will be around:- 105.0'

In [73]:
compound_interest(3500, 15, 0.1, 4)

'The total ammount will be around:- 15399.26'

### Question5
Write a function that takes a list of elements and returns only the integers.

Examples

return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [65]:
def return_only_integer(lst):
    try:
        new_lst=[]
        for i in lst:
            if type(i)== int:
                new_lst.append(i)

        return new_lst
    eexcept Exception as e:
        log.info(str(e))

In [66]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [67]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [68]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion"])

[10, 56, 20, 3]

In [69]:
return_only_integer(["String", True, 3.3, 1])

[1]