# Python Assignment 1

1. What are the differences between operators and values in the following?
 
 '*'  it's is multiplication operator

'hello'  it's a string or values

'-87.8'  - it's a floating type value

' - '  it's a dash operator

'/'  it's a division operator

'+' it's plus operator

'6' it's a vlaue or integer

2. What is the difference between string and variable?

spam

'spam'

   Ans > String is a data type, where a variable is just an object that holds values that we assign to it.

In [3]:
#example 
spam = 'spam' 
#here the spam containing the string 'spam'
spam #if we call spam it will return the value we assign to it

'spam'

3. Describe three different data forms.

      Ans >  There are three 3 main data forms in statistics, that is qualitative and quantitative, continuous and discrete, and the last form is primary and secondary data.

4. What makes up an expression? What are the functions of all expressions?

   Ans>  an expression can be a mix of value, variable, calling a function that is waiting for evaluation. so that it can be evaluated.

   python built-in function eval() can be evaluate all expression.

5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

Ans> declaration means that we are assigning a value which is 10 to a variable called spam. This is a declaration.

And the expression is anything we do in python is an example of expression like 2+2 is an expression which evaluates 4

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [5]:
bacon = 22
bacon + 8
print(bacon)  #because we did not update the bacon variable that is why it dose not add 1 and still print 22

22

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

8. Why is it that eggs is a true variable name but 100 is not?

     Ans> because in python we can use any string to declare as variable as long it is not matching with the built-In function name and contains an underscore. But python did not allow to use of the only integer as a variable name. that is why eggs can be a variable name but 100 is not.

In [10]:
eggs ='hello'
eggs

'hello'

In [11]:
100 = 'hello' #it gives error

SyntaxError: cannot assign to literal (<ipython-input-11-e1ce8eb8df3d>, line 1)

9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string

 Ans> we can use python built-in function to convert a value in to integer, float or string

these are for converting integer we use int()

for floating-point number float()

and for string str()

In [14]:
my_int = int(5)
type(my_int)

int

In [12]:
my_float = float(5)

In [13]:
type(my_float)

float

In [15]:
my_str = str(5) #here i use 5 which is integer by defaut, but i can chage type with str() function
type(my_str)

str

10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

Ans > the problem is we did not convert 99 as a string object and that is why it will give us an error. Because python canâ€™t concatenate integer with the string object.

i cna convert the 99 as string object by using str() function

In [16]:
'I have eaten ' + 99 + ' burritos.' #it gives me an error

TypeError: can only concatenate str (not "int") to str

In [17]:
'I have eaten ' + str(99) + ' burritos.' # it will run fine.

'I have eaten 99 burritos.'